## Charlson COMORBIDITY Mapping

In [1]:
import pandas as pd
from recurrent_health_events_prediction.data_extraction.utils import assign_charlson_category

In [ ]:
df = pd.read_csv("/workspaces/master-thesis-recurrent-health-events-prediction/data/mimic-iii-dataset/DIAGNOSES_ICD.csv")

In [3]:
df.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [5]:
df["ICD9_CODE"] = df["ICD9_CODE"].astype(str)

In [7]:
df = assign_charlson_category(df, "ICD9_CODE")

In [8]:
codes_df = pd.read_csv("/workspaces/master-thesis-recurrent-health-events-prediction/data/mimic-iii-dataset/D_ICD_DIAGNOSES.csv")
codes_df["ICD9_CODE"] = codes_df["ICD9_CODE"].astype(str)
codes_df.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [9]:
df = pd.merge(df, codes_df[["ICD9_CODE", "LONG_TITLE"]], on="ICD9_CODE", how="left")
df.head(100)

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,COMORBIDITY,LONG_TITLE
0,1297,109,172335,1.0,40301,renal_disease,"Hypertensive chronic kidney disease, malignant..."
1,1298,109,172335,2.0,486,None,"Pneumonia, organism unspecified"
2,1299,109,172335,3.0,58281,renal_disease,Chronic glomerulonephritis in diseases classif...
3,1300,109,172335,4.0,5855,renal_disease,"Chronic kidney disease, Stage V"
4,1301,109,172335,5.0,4254,congestive_heart_failure,Other primary cardiomyopathies
...,...,...,...,...,...,...,...
95,1555,118,147035,2.0,V053,None,Need for prophylactic vaccination and inoculat...
96,1556,119,135738,1.0,88122,None,"Open wound of wrist, with tendon involvement"
97,1557,119,135738,2.0,9032,None,Injury to radial blood vessels
98,1558,119,135738,3.0,9033,None,Injury to ulnar blood vessels
99,1559,119,135738,4.0,9551,None,Injury to median nerve